.jumbotron{
    width: 1500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron h3{
    text-align: center;
}
.table{
    margin-top: 20px;
    font-size: medium;
}
th, td{
    text-align: center;
}
hr{
    border-color: #999;
}
label{
    text-align: left;
}
i{
    cursor: pointer;
}
.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: yellow;
}
.negrito{
    font-weight: bold;
}
.ui-alert {
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-alert-title {
	color: #AF4341;
	font-weight: bold;
	font-size: 24px;
}

.ui-alert-message {
	color: #AF4341;
}