<div class="jumbotron">
    <a class="btn btn-primary" href="#!/clientes"><i class="bi bi-arrow-left"></i> Voltar</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2" class="negrito">Detalhes do Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{cliente.id}}</td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>{{cliente.name}}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{cliente.email}}</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                <td>{{cliente.phoneNumber}}</td>
            </tr>
            <tr>
                <th>Senha:</th>
                <td>{{cliente.password}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex gap-2">
        <button class="btn btn-danger btn-block" ng-click="deletarCliente(cliente)">
            <i class="bi bi-trash"></i> Deletar
        </button>
        <button class="btn btn-primary btn-block" ng-click="editCliente()">
            <i class="bi bi-pencil"></i> {{editButtonTxt}}
        </button>
    </div>
    <div ng-show="editingCliente">
        <h3>Editar Cliente</h3>
        <form name="editClienteForm">
            <fieldset>
                <legend>Informações</legend>
                <label for="name">Nome</label>
                <input class="form-control" name="name" type="text" ng-model="clienteSelecionado.name" ng-required="true" ng-minlength="3">
                <label for="email">Email</label>
                <input class="form-control" name="email" type="text" ng-model="clienteSelecionado.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/">
                <label for="phoneNumber">Telefone</label>
                <input class="form-control" name="phoneNumber" type="text" ng-model="clienteSelecionado.phoneNumber" ng-required="true" ng-pattern="/^\(\d{2}\)\s?\d{4,5}-\d{4}$/" ui-phone>
                <label for="password">Senha</label>
                <input class="form-control" name="password" type="password" ng-model="clienteSelecionado.password" ng-required="true" ng-minlength="6">
            </fieldset>
        </form>
        <!-- Mensagens de erro permanecem iguais -->
        <button class="btn btn-success btn-block" ng-click="salvarEdicao()" ng-disabled="editClienteForm.$invalid">
            <i class="bi bi-check"></i> Salvar
        </button>
    </div>
</div>